/*This is the import for the bulma css framework*/
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
/*Card Page Styles*/
/*Flexbox for Card Imageß*/
.card-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

/* Styling for the card details */
.card-details {
    flex: 1;
    margin-right: 20px;
}

.card-image {
    display: flex;
    justify-content: flex-end; /* Align image to the right */
    align-items: center; /* Center vertically */
    height: 100%; /* Ensure it takes the full height of the column */
}

.card-image img {
    max-width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
}