body {
	background-color:#FFFFFF;
	margin: 0;

h1 {
	font-size: 2.5em;
	color: #FFFFFF
}

h2 {
	color: #FFFFFF
}

.topmenu {
	background-color: #000000;
	overflow: auto;
}

.topmenu a {
	float: left;
	color: #FFFFFF;
	font-size: 2em;
	text-decoration: none;
	text-align: center;
	padding: 12px 15px 12px 15px;
}

.topmenu a.right {
	float: right;
}

.topmenu a:hover {
	color: #888888;
}

.topmenu a.right:hover {
	background-color: #000000;
}